body {
  background: black;
  color: white;
  font-family: Lato;
  padding: 20pt;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 24pt;
}

.login-link {
  float: right;
}

a:visited {
  text-decoration: none;
  color: yellow;
}

a:hover {
  cursor: color: orange;
}
